<app-header [nameHeader]="nameHeader" [backHome]="backHome"></app-header>

<ion-content *ngIf="movie">
  <ion-card class="ion-card">
    <ion-card-content>
      <img [lazyLoad]="movie.poster" />
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-col-rating">
        <ion-label>
          {{ 'RATING' | translate}}
        </ion-label>
        <div>{{movie.imdbRating}}</div>
      </ion-col>

      <ion-col class="ion-col-duration">
        <ion-label>
          {{ 'DURATION' | translate}}
        </ion-label>
        <div>
          <ion-label>
            {{movie.duration | time}}
          </ion-label>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Actores -->
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'ACTORS' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-input class="ion-input-actores" readonly *ngFor="let actor of actorsList">
      {{actor}}
    </ion-input>
  </ion-list>


  <!-- Estudio -->
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'STUDIE' | translate}}
      </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-input readonly class="ion-input-studie">
    {{movie.companie}}
  </ion-input>

  <!-- Generos -->
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'GENRE' | translate}}
      </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-chip [disabled]="true" color="dark" *ngFor="let genre of movie.genre">
    <ion-label># {{genre}}</ion-label>
  </ion-chip>


  
</ion-content>
<ion-footer *ngIf="movie" class="ion-no-border" >
  <ion-item>
    <ion-fab-button color="success" slot="end" (click)="editMovie(movie.id)" >
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [disabled]="canDeleteMovie" color="danger" slot="end" (click)="deleteMovie(movie.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-item>
</ion-footer>