<ion-header>
  <ion-toolbar>

    <ion-buttons *ngIf="!backHome" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

      <ion-button  *ngIf="backHome" color="dark" fill="clear" slot="start" (click)="backMovies()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <ion-title>{{nameHeader}}</ion-title>
  </ion-toolbar>
</ion-header>
