
.ion-button__add{
  color:#757575;
  position: absolute;
  right: 0;
  margin-right: 15px;
  bottom: 4px;
  background: transparent;
} 

.input-gender__size {
  width: 70%;
}

.input-label-form {
  margin-left: 15px;
}