<app-header [nameHeader]="nameHeader" [backHome]="backHome"></app-header>

<ion-content>
  <ion-card class="ion-card">
    <ion-card-content>
      <img [src]="pageNotFound"/>
    </ion-card-content>
  </ion-card>
</ion-content>