<ion-menu side="start" menuId="first" contentId="sideMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-button slot="end" color="light" fill="clear" (click)="closeMenu()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let page of sideMenu | async">
        <ion-item [routerLink]="page.redirectTo">
          <ion-label>
            {{ page.name }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item>
        <ion-label>{{'LANGUAGE' | translate}}</ion-label>
        <ion-select value="pbroen" ok-text="Ok" cancel-text="Dismiss" (ionChange)="changeLang($event)">
          <ion-select-option *ngFor="let lang of langs" [value]="lang">
            {{lang}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>