<app-header [nameHeader]="nameHeader" [backHome]="backHome"></app-header>

<ion-content *ngIf="movie">
<div>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">{{ 'TITLE' | translate}} *</ion-label>
        <ion-input placeholder="{{ 'TITLE' | translate}}" required formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'POSTER' | translate}} *</ion-label>
        <ion-input required placeholder="{{ 'POSTER' | translate}}" formControlName="poster" type="url">
        </ion-input>
      </ion-item>

      <!-- Generos -->
      <ion-item>
        <ion-label position="floating">{{ 'GENRE' | translate}}</ion-label>
        <ion-input class="input-gender__size" [(ngModel)]="genreFiel" [ngModelOptions]="{standalone: true}" placeholder="{{ 'ADD_GENRE' | translate}}" type="text">
        </ion-input>

        <ion-button fill="clear" class="ion-button__add" (click)="addGenre()">
          <ion-icon slot="end" name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <p>
        <ion-chip outline color="secondary" *ngFor=" let genre of genreForm">
          <ion-label># {{genre}}</ion-label>
          <ion-icon name="close-circle" (click)="removeGenreChip(genre)"></ion-icon>
        </ion-chip>
      </p>
      <!-- Actores -->
      <ion-item>
        <ion-label position="stacked">{{ 'ACTORS' | translate}}</ion-label>
        <ion-select (ionChange)="onChangeActorSelected($event)" position="floating" placeholder="{{ 'SELECT_ACTOR' | translate}}">
          <ion-select-option *ngFor=" let actor of actors" [value]="actor">{{actor.first_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <p>
        <ion-chip outline color="secondary" *ngFor=" let actor of actorsForm">
          <ion-label># {{actor.first_name}}</ion-label>
          <ion-icon name="close-circle" (click)="removeActorChip(actor)"></ion-icon>
        </ion-chip>
      </p>
      <!-- Studio -->

      <ion-item>
        <ion-label position="stacked">{{ 'STUDIE' | translate}}</ion-label>
        <ion-select formControlName="companie" position="floating" placeholder="{{ 'SELECT_STUDIE' | translate}}">
          <ion-select-option *ngFor=" let companie of studies" [value]="companie.name">{{companie.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label class="input-label-form">{{ 'YEAR' | translate}} *</ion-label>
      <ion-item>
        <ion-input placeholder="{{ 'YEAR' | translate}}" formControlName="year" type="number" [value]="year"
        pattern="^[0-9]*$" required></ion-input>
      </ion-item>

      <ion-label class="input-label-form">{{ 'DURATION' | translate}} *</ion-label>
      <ion-item>
        <ion-input placeholder="{{ 'ADD_DURATION' | translate}}" formControlName="duration" type="number" [value]="duration"
        pattern="^[0-9]*$" required></ion-input>
      </ion-item>

      <ion-label class="input-label-form">{{ 'RATING' | translate}}</ion-label>
      <ion-item>
        <ion-input placeholder="{{ 'ADD_RATING' | translate}}" formControlName="imdbRating" type="number" [value]="imdbRating"></ion-input>
      </ion-item>



    </form>
</div>

</ion-content>
<ion-footer *ngIf="movie" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="onSave()" expand="full" shape="round" type="submit" [disabled]="movieForm.invalid">
      {{'SAVE'| translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
