<app-header [nameHeader]="nameHeader" [backHome]="backHome"></app-header>

<ion-content>
  <ion-list *ngIf="loadingMovie">    
    <ion-card class="ion-card" *ngFor="let movie of movies">
      <ion-card-header>
        <ion-card-title class="ion-card__title" >{{movie.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [lazyLoad]="movie.poster" [routerLink]="['details/',movie.id]"/>
        <ion-button *ngFor="let genre of movie.genre" size="small" color="light">#{{genre}}</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="!loadingMovie">
    <ion-item *ngFor= "let num of [].constructor(10); let i = index;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="loadingMovie" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
