img {
    width: 100%;
    max-height: 250px;
}

img.ng-lazyloaded {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ion-card {
    border-radius: 15px;
}

.ion-card__title {
    margin-bottom: 10px;
}